@page "/revenue"
@page "/revenue/{revenueId}"

@using terminus.shared.models

@inherits RevenueEntryBase

<h1 class="page-title">Revenue Transaction</h1>

@if (!IsDataLoaded)
{
    <p><em>Loading...</em></p>
}
else
{
<EditForm Model="@revenue" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

    <div class="form-group row">
        <label for="transactionDate" class="col-sm-2 col-form-label">Date: </label>
        <div class="col-sm-2">
            <InputDate @bind-Value="@revenue.transactionDate" class="form-control">
            </InputDate>
        </div>

        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => revenue.glAccountId)" />
    </div>

    <div class="form-group row">
        <label for="glAccountCode" class="col-sm-2 col-form-label">Details: </label>
        <div class="col-sm-5">
            <InputSelect @bind-Value="@revenue.glAccountId" @onchange="@HandleAccountChange" class="form-control">
                <option value=""></option>
                @foreach (var ga in revenue.revenueAccounts.Where(a=>a.revenue))
                    {
                    <option value="@ga.accountId">@ga.accountCode - @ga.accountDesc</option>
                    }
                /**/
                /**/
            </InputSelect>

        </div>

        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => revenue.glAccountId)" />
    </div>

    <div class="form-group row">
        <label for="propertyId" class="col-sm-2 col-form-label">Property: </label>
        <div class="col-sm-5">
            <InputSelect @bind-Value="@revenue.propertyDirectoryId" class="form-control">
                <option value=""></option>
                @foreach (var p in revenue.propertyDirectories)
                    {
                    <option value="@p.id.ToString()">@p.property.description</option>
                    }
                /**/
                /**/

            </InputSelect>
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => revenue.propertyDirectoryId)" />

    </div>

    <div class="form-group row">
        <label for="tenantId" class="col-sm-2 col-form-label">Tenant: </label>
        <div class="col-sm-5">
            <InputSelect @bind-Value="@revenue.propertyDirectoryId" class="form-control">
                <option value=""></option>

                @foreach (var p in revenue.propertyDirectories)
                    {
                    <option value="@p.id.ToString()">@string.Format("{0} {1}", p.tenant.firstName, p.tenant.lastName)</option>
                    }
                /**/
                /**/


            </InputSelect>
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => revenue.propertyDirectoryId)" />

    </div>

    <div class="form-group row">
        <label for="dueDate" class="col-sm-2 col-form-label">Due Date: </label>
        <div class="col-sm-2">
            <InputDate @bind-Value="@revenue.dueDate" class="form-control">
            </InputDate>
        </div>
    </div>

    <div class="form-group row">
        <label for="reference" class="col-sm-2 col-form-label">Reference: </label>
        <div class="col-sm-5">
            <InputText @bind-Value="@revenue.reference" class="form-control">
            </InputText>
        </div>
    </div>

    <div class="form-group row">
        <label for="cashOrCheck" class="col-sm-2 col-form-label">Cash or check: </label>
        <div class="col-sm-5">
            <InputSelect @bind-Value="@revenue.cashOrCheck" class="form-control">
                <option value="0">Cash</option>
                <option value="1">Check</option>
            </InputSelect>
        </div>
    </div>

    @if (revenue.cashOrCheck.Equals("1"))
    {
        <div class="form-group row">
            <label for="bankName" class="col-sm-2 col-form-label">Check details: </label>
            <div class="col-sm-2">
                <InputText @bind-Value="@revenue.bankName" class="form-control" placeholder="Bank name">
                </InputText>
            </div>
            <div class="col-sm-2">
                <InputText @bind-Value="@revenue.branch" class="form-control" placeholder="Branch">
                </InputText>
            </div>
            <div class="col-sm-2">
                <InputDate @bind-Value="@revenue.checkDate" class="form-control" placeholder="Check Date">
                </InputDate>
            </div>

            <div class="col-sm-2">
                <InputNumber @bind-Value="@revenue.checkAmount" class="form-control" placeholder="Amount">
                </InputNumber>
            </div>
        </div>
    }
    else
    {
<div class="form-group row">
    <label for="amount" class="col-sm-2 col-form-label">Amount: </label>
    <div class="col-sm-5">
        <InputNumber @bind-Value="@revenue.amount" class="form-control">
        </InputNumber>
    </div>
    <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => revenue.amount)" />
</div>
    }

<div class="form-group row">
    <label for="cashAccountId" class="col-sm-2 col-form-label">Ledger: </label>
    <div class="col-sm-5">
        <InputSelect @bind-Value="@revenue.cashAccountId" class="form-control">
            <option value=""></option>

            @foreach (var ga in revenue.revenueAccounts.Where(a => a.cashAccount))
                {
                <option value="@ga.accountId">@ga.accountCode - @ga.accountDesc</option>
                }
            /**/
            /**/
        </InputSelect>
    </div>
    <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => revenue.cashAccountId)" />
</div>

    <div class="form-group row">
        <label for="receiptNo" class="col-sm-2 col-form-label">Issue receipt no: </label>
        <div class="col-sm-5">
            <InputText @bind-Value="@revenue.receiptNo" class="form-control">
            </InputText>
        </div>
        <ValidationMessage class="offset-sm-2 col-sm-8" For="@(() => revenue.receiptNo)" />
    </div>

    <button type="submit" class="btn btn-primary edit-btn">Save</button>
    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToList">Cancel</a>

</EditForm>
}

