@page "/revenuelist"
@using terminus.shared.models

@inherits RevenueListBase

<h1 class="page-title">Revenue transactions</h1>

@if (!DataLoaded && string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Loading...</em></p>
}
else if (DataLoaded && !string.IsNullOrEmpty(ErrorMessage))
{
    <p><em>Error encountered while loading this page.</em></p>
}
else
{

    <button @onclick="@AddRevenue" class="btn btn-dark table-btn quick-add-btn">Create new</button>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Details</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var revenue in Revenues)
            {
                <tr>
                    <td>@revenue.transactionDate.ToString("yyyy-MM-dd")</td>
                    <td>@revenue.glAccountCode -  @revenue.glAccountName.</td>
                    <td>@revenue.amount.ToString("#,#.00")</td>
                    <td>
                        <a href="@($"revenue/{revenue.id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle">View</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



